html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -82px 0;
  /* Pad bottom by footer height */
  padding: 0 0 80px 0;
}

/* Set the fixed height of the footer here */
#footer {
	height: 100px;
	background-color: #000000;
}


#wrap > .center-container {
  padding: 50px 0 0 0;
  margin:0;
}

#footer > .container {
  padding-top:5px
  padding-left: 15px;
  padding-right: 15px;
}

.center-container {
  height:100%;
  display: table;
  width:100%;
  margin:0;
}

.center-row {
  height:50%;
  width:100%;
  display: table-row;
}
  
.center-row > div {
  height:100%;
  width:50%;
  display: table-cell;
  border:0 solid #eee;
  color:#fff;
  vertical-align:middle;
}

.bg-one {
  background:#efefef url('/assets/example/bg_suburb.jpg');
}
.bg-two {
  background:#efefef url('/assets/example/bg_dogcat.jpg');
}
.bg-three {
  background:#efefef url('/assets/example/bg_blueplane.jpg');
}
.bg-four {
  background:#efefef url('/assets/example/bg1.jpg');
}