.pagination-btn{
	float: left;
	color: #FFF;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #09F;
	margin:2px;
	min-width: 14px;
	padding:  0 7px;
	box-shadow: 2px 2px 2px rgb(0, 206, 209);
	
}