.fila_encabezado{
  
  border-bottom: 4px solid #790003;
  border-top: 1px solid black;
  background-color: #444444;
  color:#FFF;
  font-weight:bold; 
}
.fila_subencabezado{
	border:solid;
	border-left-color:#FFF;
	border-top-color:#FFF;
	border-bottom-color:#FFF;
	border-right-color:#FFF;
	background-color:#8DA523;
	font-size:24px;
	font-weight:bold;
	color:#FFF;
}
.fila_subencabezado_menu{
	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
}
.fila_subencabezado_menu1{
	font-size:13px;
	color:#000;
}

.fila_subencabezado_nar{
	border:solid;
	border-left-color:#FFF;
	border-top-color:#FFF;
	border-bottom-color:#FFF;
	border-right-color:#FFF;
	background-color:#F79045;
	font-size:24px;
	font-weight:bold;
	color:#FFF;
}
.fila_subenc_tabla{
	border:solid;
	border-left-color:#FFF;
	border-top-color:#FFF;
	border-bottom-color:#FFF;
	border-right-color:#FFF;
	background-color:#F79045;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}
.fila_cronometro{
	border: solid;
	border-left-color: #FFF;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
	border-right-color: #FFF;
	background-color: #006600;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
}
.border_top{
	border-top-color:#000
	border-left-color:#000;
	border-right-color:#000;
}

.h3_1{
	color:#333;
	height:7px
}

.tab_login{
	border:solid #613D76;
	background-color:#FFF;
	color:#000;
	font-size: 10px;
	font-family: Arial, Verdana;	
}
.tab_tabla_nar{
	border:solid #F90;
	background-color:#FFF;
	color:#000;
	font-weight:bold;
	font-style:oblique;
}
.tab_tabla_nar_1{
	background-color:#FFF;
	font-weight:bold;
	font-size:12px;
}
.tab_tabla_green{
	border:solid #8FC133;
	background-color:#FFF;	
}

.tab_tabla_menu{
	/*border-top:solid #F90;*/
	border-bottom:solid #F90;
}

.fila_concluida{
	border: solid #613D76;
	background-color: #D2EABB;
	color: #060;
	font-weight: bold;
	
}
.fila_proceso{
	border: solid #613D76;
	background-color: #F3F3F3;
	color: #000;
}
.fila_titulo_tabla{
	border:solid #939;
	background-color: #613D76;
	color:#FFF;
	font-weight:bold;
}
.fila_apartados_er{
	border:solid #613D76;
	background-color:#E0D2E6;
	color:#000;
	font-weight:bold;
	font-style:oblique;	
}
.fila_apartados_er1{
	border:solid;
	border-left-color:#E0D2E6;
	border-top-color:#613D76;
	border-bottom-color: #E0D2E6;
	border-right-color:#E0D2E6;		
}
.fila_apartados_er2{
	border:solid;
	border-left-color:#E0D2E6;
	border-top-color:#E0D2E6;
	border-bottom-color: #E0D2E6;
	border-right-color:#E0D2E6;
	
}
.fila_apartados_er3{
	border:solid;
	border-left-color:#E0D2E6;
	border-top-color:#E0D2E6;
	border-bottom-color: #613D76;
	border-right-color:#E0D2E6;	
}
.fila_apartados_er3_1{
	border:solid;
	border-left-color:#E0D2E6;
	border-top-color:#E0D2E6;
	border-bottom-color: #613D76;
	border-right-color:#E0D2E6;
	background-color:#999;
}
.fila_apartados_er4{
	border:solid;
	border-left-color:#E0D2E6;
	border-top-color:#613D76;
	border-bottom-color: #613D76;
	border-right-color:#E0D2E6;	
}

.fila_apartado_nuevo{
	border-bottom:solid;
	border-bottom-width:thin;
	border-bottom-color:#613D76;
}


.fila_division{
  border-bottom: 4px solid #790003;   
  color:#507A21;   
  font-weight:bold; 
  font-style:oblique; 
}

.fila_division2{
  border-bottom: 1px solid #666;   
  color:#F60;   
  font-weight:bold; 
  font-style:oblique; 
}

.fila_division3{
  border-bottom: 1px solid #666;   
  font-style:oblique; 
}

.fila_error{
	color:#F00;
	font-weight:bold;
	font-style:oblique;
}
.fila_cumple{
	color:#060;
	font-weight:bold;
	font-style:oblique;
}

.fila_division_tabla{
  border-bottom: 1px solid #790003;   
  color:#444444;     
}

.fila_division_cursos{
	border-bottom: 1px solid #306;
	color:#000;	
	font-size:16px;
}

.fila_contenido{
  color:#3C5F21;
  font-weight:500;
}

.boton_buscar{
	background-image:url(../iconos/i_buscar.png);
	border:hidden;
        width: 57px;
        height:49px;
       }
	   
.boton_login{
    background-image: url(../iconos/icono_entrar.jpg);
    border: medium hidden;
    width: 53px;
    height: 49px;
}
	   
.boton_save{
	background-image:url(../iconos/i_guardar.png);
	border:hidden;
        width: 56px;
        height:49px;
       }
.boton_aprobar{
	background-image:url(../iconos/btn_aprobar.png);
	background-repeat:no-repeat;
	border:hidden;
        width: 54px;
        height:47px;
       }
.boton_rep_reco{
	background-image:url(../imagen/Reporte_ER2.png);
	background-size:100%;
	background-repeat:no-repeat; 
    width: 80;
    height:36;
	margin-bottom:-10		
       }
	   
.boton_guardar{
	background-image: url(../imagen/Save_ER.png);
	width: 115px;
	height: 33px;
	text-align: center;
       }
.boton_modifica{
	background-image: url(../iconos/boton_modificar.png);
	background-size:100%;
	width: 115px;
	height: 33px;
	text-align: center;
       }
.boton_add{
	background-image: url(../iconos/btn_agree.png);
	background-size:100%;
	width: 115px;
	height: 33px;
	text-align: center;
       }	   
.boton_upload{
       background-image:url(../iconos/i_adjuntar.png);    
        width: 52px;
        height:49px;
		border:hidden;
       }	
.boton_act{
       background-image:url(../iconos/i_actualizar.png);    
        width: 52px;
        height:49px;
		border:hidden;
       }

.boton_baja_com{
	background-image: url(../imagen/baja_com.png);
	width: 80px;
	height: 76px;
	text-align: center;
       }	
	   
.boton_act_com{
	background-image: url(../imagen/act_com.png);
	width: 80px;
	height: 76px;
	text-align: center;
       }		         
	   
.texto_block{
	color: #333333;
	font-size: 11px;
	font-family: Arial, Verdana;
	}
.mensajes {
width:400px;
height:100px;
background:FF8822;
color:#000000;
padding:10px;
margin:40px auto;
text-align:center;
font-family:Verdana, Arial;
display:none;
}

.fila_preguntas_ci{
	border:solid;
	background-color:#CEADE9;
	font-size:14px;
	font-weight:bold;
	color:#000;
}
.fila_norma{
	border:solid #613D76;
	background-color:#613D76;
	color:#FFF;
	font-weight:bold;
	font-style:oblique;
	font-size:22px;
}
.fila_div_ci{
	background-color:#9C70AF;
	color:#FFF;
	font-weight:bold;
	font-style:oblique;	
}
.fila_totales{
	background-color:#9C70AF;
	color:#FFF;
	font-weight:bold;
	font-style:oblique;
	font-size:18px;
}
.fila_subtabla_ci{
	border:solid;
	background-color:#999;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}
.fila_procesos{
	background-color: #D59637;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
}
.fila_enc_resultados{
	background-color: #000;
	color:#FFF;
	font-weight:bold;
	font-size:16px;
}
.fila_resultados{
	background-color: #D1C9C0;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
.fila_procesos_dir{
	background-color: #E8C48E;
	color:#333;
	font-weight:bold;
	font-size:14px;
}
.fila_brown{
	background-color: ;
	color:#333;
	font-weight:bold;
	font-size:14px;
}
.maxima{
	background-color: #7EB05E;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}
.maxima1{
	background-color: #006600;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}
.saisfactorio{
	background-color: #0FC;
	color:#000;
	font-weight:bold;
	font-size:12px;
}
.moderada{
	background-color: #FF0;
	color:#000;
	font-weight:bold;
	font-size:12px;
}
.minima{
	background-color: #FB687E;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
}

.txt_text
{
width:25px;
height:40px;
alignment-adjust:middle;
border:none;
font-size:18px;
text-align:center;
color:#606;
}

.sombra_text{
	font-weight:bold;
	font-style:oblique;
	text-shadow: 5px 5px 5px #FF0000;
}
#content-title2{
	background: url(../img/content-title.png) no-repeat scroll;
	height:323px;
	position:absolute;
	width:100%;
}

/*-------estilos selecttt-------*/
.select
{
border: 1px solid #096; 
font-size: 10px;
font-family: Arial, Verdana;
padding-left: 7px;
padding-right: 7px;
padding-top: 5x;
padding-bottom: 2px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
background: #FFFFFF;
background: linear-gradient(left, #FFFFFF, #F7F9FA);
background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
color: #2E3133; 
}
 
.select:hover
{
border-color: #FBFFAD;
}
 
.select option
{
/*border: 1px solid #DBE1EB; ---- pone borde para simular la linea de division*/
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-o-border-radius: 4px;
}
 
.select option:hover
{
background: #FC4F06;
background: linear-gradient(left, #FC4F06, #D85F2B);
background: -moz-linear-gradient(left, #FC4F06, #D85F2B);
background: -webkit-linear-gradient(left, #FC4F06, #D85F2B);
background: -o-linear-gradient(left, #FC4F06, #D85F2B); 
font-style: italic;
color: #FFFFFF;
}
/*-----------------ESTILOS TEXT BOX ------*/
input[type="text"]{
	border: 1px solid #096; 
	font-size: 10px;
	font-family: Arial, Verdana;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	background: #FFFFFF;
	background: linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	color: #333333; 
  }
  
 input[type="password"]{
	border: 1px solid #096; 
	font-size: 10px;
	font-family: Arial, Verdana;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	background: #FFFFFF;
	background: linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	color: #333333; 
  }
  
.textarea{
	border: 1px solid #096; 
	font-size: 10px;
	font-family: Arial, Verdana;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	background: #FFFFFF;
	background: linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	color: #333333; 
  }
.hidden{
   visibility:hidden;
}
.textbox1 { 
    border: 3px groove #6699FF; 
    outline:0; 
    height:25px; 
   width: 275px; 
  } 
