/*clases para el slideshow*/
	img { 
		overflow: hidden; 
		border: none; 
		margin: 0; 
		padding: 0px;
		outline: 0;
	}
	
	#slider { 
		width: 400px; 
		height: 343px; 
		margin: 0 auto; 
		text-align: center; 
		background: white url(../script/slideshow/img/loader.gif) center center no-repeat; 
	}
	
	#content { 
		position: absolute; 
		overflow: hidden; 
		width: 400px; 
		height: 343px; 
	}
	
	#bigimages { 
		width: 400px; 
		height: 343px; 
		position: absolute; 
	}
	
	#bigimages div { 
		position: absolute; 
		width: 400px; 
		height: 343px; 
	}
	
	.back { 
		filter: alpha(opacity=50); 
		opacity: 0.5; 
		-moz-opacity: 0.5; 
		background: black; 
	}
	
	#bigimages div div { 
		position: absolute; 
		width: 200px;
		height: 90px;
		color: white; 
		right: 20px; 
		top: 160px; 
		padding: 10px; 
		text-align: left;
	}
	
	#smallimages { 
		margin: 0;
		position: relative; 
		top: 282px; 
		left: 45px;
		text-align: left;
	}
	
	#smallimages img { 
		width: 80px;
		height: 55px;
	}
	
	#dialup {
	width: 80px;
	height: 55px;
	position: absolute;
	display: block;
	background: black;
	left: 0px;
	}
/*****************************************************************/
/*clases para el slideshow*/

A:link, A:visited {
	color: #660000;
	text-decoration: none;
	
}
A:linkB, A:visited {
	color: Green;
	text-decoration: underline;
}
A:LinkA, A:visited {
   color:#4A4A4A; 
   text-decoration:underline;
}
A:active, A:hover {
	color: Maroon;
	text-decoration: underline;
	font: bold;
}
body {
   font-family:"Trebuchet MS",Verdana,Arial,Tahoma;
   font-size:11px;
    background: url("../iconos/tv_70.png"), url("../iconos/FondoWeb3.png");
	
	background-repeat:repeat;	
	width: 100%;
	/*
    background-color: rgb(159, 191, 168);
	/*background-image: url("../imagen/Chichen-Itza.jpg"), none;
	background: transparent url(iconos/FondoWeb3.png);
	background-image:  url("../iconos/tv_70.png"), url("../iconos/FondoWeb3.png"), none;
    background-repeat: repeat-x; rep
    background-attachment: fixed, fixed, scroll;
    background-position: 0px 0px, 0% 0%, 0% 0%;
    background-clip: border-box, border-box, border-box;
    background-origin: padding-box, padding-box, padding-box;
    background-size: auto auto, cover;*/

}
td {
	font-family: "Trebuchet MS",Verdana,Arial,Tahoma;
	font-size: 12px;
	
}
input {
   font-family:"Trebuchet MS",Verdana,Arial,Tahoma;
   font-size:8pt;
}
select {
   font-family:"Trebuchet MS",Verdana,Arial,Tahoma;
   font-size:8pt;
}
textarea {
   font-family:"Trebuchet MS",Verdana,Arial,Tahoma;
   font-size:8pt;
}
#tagdata ul {
   list-style-image:url(../imagen/vinieta2.gif);
   margin-top:0px;
   margin-bottom:0px;
   font-size:11px;
}

#tagdata2 ul {
   list-style-image:url(../imagen/vinieta2.gif);
   margin-top:0px;
   margin-bottom:0px;
   font-size:11px;
}
.InfoBarContent {
	border-left:1px solid #D3D3D3;
	border-right:1px solid #D3D3D3;
	background-color:#eaf1d2;
	padding:5px 10px;
	max-width: 430px;
}
.footmsg {
   background-color:transparent;
	color:#FFF;
	font-size:10px; 
	font-weight:bold;
	font-family:Arial,Helvetica; 
	text-decoration:none;		
	margin:0;
}
.contenido {
	color:#4A4A4A; 
	font-size:9px; 
	font-weight:normal; 
	font-family:Arial,Helvetica; 
	text-decoration:none;
	margin:0;
}
.contenido_list {
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, Verdana;
	text-decoration: none;
	margin: 0;
	text-align:justify;
	text-justify: auto;

}

.scrollcontenido {
display: inline;
float: left;
/*margin: 1em;*/
/*padding: .3em;*/
/*border: 2px solid #555;*/
width: 590px;
height: 550px;
/*cursor: url(puntero.svg), url(puntero.cur), all-scroll;*/
}

.scroll_list_er {
float: left;
padding-left:13PX;
display: inline;
/*margin: 1em;*/
/*padding: .3em;*/
/*border: 2px solid #555;*/
width: 99%;
height: 200px;
/*cursor: url(puntero.svg), url(puntero.cur), all-scroll;*/
}

#zona1{ width:79%; float:left; }
#object_spacer{width:1%; float:left;}
#zona3{width:20%; float:left;}
.noticia_header{line-height:1em; font-size:small; margin:0; padding:5px 0; font-weight:bold; font-family:Verdana,Arial,Helvetica,sans-serif; text-align:left;}
.sitios_header{line-height:1em; font-size:medium; margin:0; padding:5px 0; font-weight:bold; font-family:Verdana,Arial,Helvetica,sans-serif;}
.banner_der{margin-bottom:5px;}
.headerZone{ background:url(../imagen/menutabs.gif) -2px -2px no-repeat; height:22px;  vertical-align:middle; color:#006633; font-size:14px; font-weight:bold; padding-top:8px; margin-bottom:0; }
.dataZone{ border:1px solid #CCCCCC; border-top:none; margin-bottom:5px; text-align:left; font-weight:bold; padding:2px; color:#666666; font-size:14px; }
.dataZone font{ margin:2px; font-weight:normal; }
.dataZone a.link{ text-decoration:none; font-weight:normal; color:#660000; line-height:1.8em; }
.dataZone a.LinkA{ text-decoration:none; font-weight:normal; color:#660000; line-height:1.8em; }
.dataZone a.LinkB{ text-decoration:none; font-weight:normal; color:#660000; line-height:1.8em; }
.dataZone a.link:hover{ text-decoration:underline; }
