#tabnav {
   float:left;
   width:100%;
   padding:0 0 0 0;
}

#tabsDemo {
   margin:0;
   margin-left:5px;
   padding:0;
   overflow:hidden;
   list-style:none;
   font:bold 13px/30px "Trebuchet MS",Verdana,Arial,Tahoma;
}

#tabsDemo li {
   display:inline;
}

#tabsDemo a {
   float:left;
   position:relative;
   padding-left:10px;
   padding-right:5px;
   margin-right:10px;
   text-decoration:none;
   color:#006600;
   background:url(../imagen/menutabs.gif) 0 0px no-repeat;
}

#tabsDemo a span {
   position:absolute;
   top:0;
   left:100%;
   width:10px;
   height:30px;
   background:url(../imagen/menutabs.gif) -290px 0px no-repeat;
}

#tabsDemo .current a {
   color:#006600;
   background-position:0 -32px;
}

#tabsDemo .current a span {
   background-position:-290px -32px;
}
  
#tabsDemo .ppal a {
   color:#FFFFFF;
   background-position:0 -64px;
}

#tabsDemo .ppal a span {
   background-position:-290px -64px;
}

#tabsDemo a:active,
#tabsDemo a:focus,
#tabsDemo a:hover {
   color:#006600;
   background-position:0 -32px;
}

#tabsDemo a:active span,
#tabsDemo a:focus span,
#tabsDemo a:hover span {
   background-position:-290px -32px;
}

div#footer_menu a:hover{
   color:#FFFFFF;
}

